@model ProyectoTFI.Models.UsuarioViewModel

@{
    ViewBag.Title = "DetalleAdministrador";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h2>DetalleAdministrador</h2>

<div>
    <h4>UsuarioViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DNI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DNI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>
<p>
    <div class="row gy-5">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Editar", "EditarAdministrador", "Admin", new { id = Model.ID }, new { @class = "btn btn-success" })
                @Html.ActionLink("Volver", "VerAdministradores", "Admin", new { area = "" }, new { @class = "btn btn-success" })
            </div>

        </div>
    </div>
</p>
