@model ProyectoTFI.Models.Solicitud_SoporteViewModel

@{ ViewBag.Title = "Ver Solicitud";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml"; }

@{
    string estadoMostrado = (bool)Model.Activo ? "Pendiente" : "Respondido";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ver Mensaje de Solicitud</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Ver Solicitud</h4>
            <hr />
            <div class="" style="background-color: antiquewhite; border-radius:10px;padding:10px;">
                @if (ViewData["ErrorMensaje"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewData["ErrorMensaje"]
                    </div>
                }
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Asunto, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Asunto, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.Asunto, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label " })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TipoConsulta, htmlAttributes: new { @class = "control-label " })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TipoConsulta, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.TipoConsulta, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @*Estado: @Html.LabelFor(model => model.Activo, htmlAttributes: new { @class = "control-label " })*@
                            Estado
                            <div class="col-md-10">
                                <input disabled="disabled" type="text" id="Activo" name="Activo" class="form-control" value="@estadoMostrado" )" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label" })
                            <div class="col-lg-12">
                                <textarea id="Descripcion" name="Descripcion" rows="4" class="form-control" disabled>@Model.Descripcion</textarea>
                                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="margin-top:2%; width:95%; margin-left:2%;" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            Fecha de Respuesta
                            <div class="col-md-10">
                                @if (Model.FechaRespuesta != Convert.ToDateTime("01/01/0001"))
                                {
                                    @Html.EditorFor(model => model.FechaRespuesta, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.FechaRespuesta, "", new { @class = "text-danger" })
                                }
                                else
                                {
                                    <input disabled="disabled" type="text" id="Activo" name="Activo" class="form-control" value="" )" readonly />
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            Respondido Por
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Solicitud_Mensaje.FirstOrDefault().Administrador.Usuario.Username, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.Solicitud_Mensaje.FirstOrDefault().Administrador.Usuario.Username, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @*@Html.LabelFor(model => model.Solicitud_Respuesta.FirstOrDefault().Descripcion, htmlAttributes: new { @class = "control-label " })*@
                            Descripción de Respuesta
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Solicitud_Mensaje.FirstOrDefault().RespuestaAdministrador, new { @class = "form-control", @disabled = "disabled", @rows = 4 })
                                @Html.ValidationMessageFor(model => model.Solicitud_Mensaje.FirstOrDefault().RespuestaAdministrador, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row gy-5">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @Html.ActionLink("Volver", "VerPendientes", "Solicitud_Soporte", new { area = "" }, new { @class = "btn btn-success" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <script type="text/javascript">
        function validateInput() {

        }

        $('#btnSubmit').click(function () {
            $.ajax({

            });
        });
    </script>
</body>

</html>