@model ProyectoTFI.Models.ClaseViewModel

@{
    ViewBag.Title = "Rehabilitar Clase";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h2>Rehabilitar Clase</h2>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkVideo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkVideo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="form-actions no-color">
                <input type="submit" value="Rehabilitar" class="btn btn-success" />
                @Html.ActionLink("Volver", "VerClasesCurso", "Curso", new { id = Model.CursoID }, new { @class = "btn btn-success", style = "background-color: #DC143C; border-color: #DC143C; color: #fff;", onmouseover = "this.style.backgroundColor='#DC143C'; this.style.borderColor='#5cb85c';", onmouseout = "this.style.backgroundColor='#DC143C'; this.style.borderColor='#DC143C';" })
            </div>
        </div>
    }
</div>
<style>
    /* Estilo personalizado para el botón success */
    .custom-btn-success {
        background-color: #DC143C; /* Nuevo color de fondo para el botón success */
        color: #fff; /* Nuevo color de texto para el botón success */
        /* Puedes agregar más estilos según tus preferencias */
    }
</style>