@model ProyectoTFI.Models.Solicitud_MensajeViewModel

@{ ViewBag.Title = "Ver Mensajes";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml"; }

@{
    string estadoMostrado = Model.AdministradorID == null ? "Pendiente" : "Respondido";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ver Mensaje de Solicitud</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Ver Solicitud</h4>
            <hr />
            <div class="" style="background-color: antiquewhite; border-radius:10px;padding:10px;">
                @if (ViewData["ErrorMensaje"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewData["ErrorMensaje"]
                    </div>
                }
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Solicitud_Soporte.Asunto, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Solicitud_Soporte.Asunto, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.Solicitud_Soporte.Asunto, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FechaEmision, htmlAttributes: new { @class = "control-label " })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FechaEmision, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.FechaEmision, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @*Estado: @Html.LabelFor(model => model.Activo, htmlAttributes: new { @class = "control-label " })*@
                            Estado
                            <div class="col-md-10">
                                <input disabled="disabled" type="text" id="Activo" name="Activo" class="form-control" value="@estadoMostrado" )" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DescripcionAlumno, htmlAttributes: new { @class = "control-label" })
                            <div class="col-lg-12">
                                @Html.TextAreaFor(model => model.DescripcionAlumno, new { @class = "form-control", @disabled = "disabled", @rows = 4 })
                                @Html.ValidationMessageFor(model => model.DescripcionAlumno, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="margin-top:2%; width:95%; margin-left:2%;" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            Fecha de Respuesta
                            <div class="col-md-10">
                                @if (Model.FechaRespuesta != Convert.ToDateTime("01/01/0001"))
                                {
                                    @Html.EditorFor(model => model.FechaRespuesta, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.FechaRespuesta, "", new { @class = "text-danger" })
                                }
                                else
                                {
                                    <input disabled="disabled" type="text" id="Activo" name="Activo" class="form-control" value="" )" readonly />
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            Respondido Por
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Administrador.Usuario.Username, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.Administrador.Usuario.Username, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @*@Html.LabelFor(model => model.Solicitud_Respuesta.FirstOrDefault().Descripcion, htmlAttributes: new { @class = "control-label " })*@
                            Descripción de Respuesta
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.RespuestaAdministrador, new { @class = "form-control", @disabled = "disabled", @rows = 4 })
                                @Html.ValidationMessageFor(model => model.RespuestaAdministrador, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row gy-5">
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            @Html.ActionLink("Volver", "Ver", "Solicitud_Mensaje", new { area = "", solicitudId = Model.SolicitudID, asunto = Model.Solicitud_Soporte.Asunto }, new { @class = "btn btn-success" })
                            @if (Model.Solicitud_Soporte.Activo)
                            {
                                if (Model.RespuestaAdministrador != null && Model.Solicitud_Soporte.Solicitud_Mensaje.OrderByDescending(m => m.ID).FirstOrDefault().ID == Model.ID)
                                {
                                    @Html.ActionLink("Agregar Mensaje", "Agregar", "Solicitud_Mensaje", new { area = "", solicitudId = Model.SolicitudID, mensajeId = Model.ID }, new { @class = "btn btn-info float-right ml-2", @style = "color: white; margin-left: 2%;" })
                                }
                                else
                                {
                                    <button class="btn btn-info float-right ml-2" disabled="disabled" style="color: white; margin-left: 2%;">Agregar Mensaje</button>
                                }
                                @Html.ActionLink("Finalizar Caso", "FinalizarCaso", "Solicitud_Mensaje", new { area = "", mensajeId = Model.ID, solicitudId = Model.SolicitudID }, new { @class = "btn btn-primary float-right ml-2", @style="margin-left:0.5%;" })
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <script type="text/javascript">
        function validateInput() {

        }

        $('#btnSubmit').click(function () {
            $.ajax({

            });
        });
    </script>

</body>

</html>