@model PagedList.IPagedList<ProyectoTFI.Entities.Solicitud_Mensaje>
@using PagedList.Mvc;

@{ ViewBag.Title = "Mensajes de Solicitud";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerAdministradores</title>
    <link href="~/Scripts/pagedListStyles.css" rel="stylesheet" />
</head>
<body>
    <h4>Mensajes de Solicitud Nº @ViewBag.solicitudId</h4>
    <h5>Asunto: @ViewBag.asunto</h5>
    <hr />
    <div style="display: flex; align-items: center;">
        <div style="border-right: thin solid black;">
            @Html.ActionLink("Volver", "VerPendientes", "Solicitud_Soporte", new { area = "" }, new { @class = "btn btn-success", @style = "color:white;font-weight:bold; margin-right: 10px;" })
        </div>
        @using (Html.BeginForm())
        {
            <div style="margin-left:15px;">
                <div>
                    @Html.TextBox("pBusqueda", null, new { placeholder = "Escriba aquí para buscar", style = "width: 210px;" })
                    <input type="submit" value="Buscar" class="btn btn-info" style="color: white; font-weight: bold;" />
                </div>
            </div>
        }
    </div>
    <div class="contentTable">
        <table class="table table-hover" aria-describedby="admin" style="padding-top:20px;">
            <thead style="background-color: #ffd800;">
                <tr>
                    <th scope="col" class="col-2 order" style="border: 2px solid #fff;">ID</th>
                    <th scope="col" class="col-1" style="border: 2px solid #fff;">Fecha de Emisión</th>
                    <th scope="col" class="col-2 order" style="border: 2px solid #fff;">¿Respondido?</th>
                    <th scope="col" class="col-2" style="border: 2px solid #fff;">Fecha de Respuesta</th>
                    <th scope="col" class="col-1" style="border: 2px solid #fff;">Acciones</th>
                </tr>
            </thead>
            <tbody id="bodyTable">
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="6" class="text-danger fw-bold">No se han encontrado registros</td>
                    </tr>
                }
                else
                {
                    foreach (var mensaje in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => mensaje.ID)
                            </td>
                            <td>
                                @mensaje.FechaEmision.ToShortDateString()
                            </td>
                            <td style="text-align: center;">
                                @if (mensaje.RespuestaAdministrador != null)
                                {
                                    <text>✅</text>
                                }
                                else
                                {
                                    <text>❌</text>
                                }
                            </td>
                            <td>
                                @if (mensaje.RespuestaAdministrador != null)
                                {
                                    @DateTime.Parse(mensaje.FechaRespuesta.ToString()).ToShortDateString();
                                }
                                else
                                {
                                    <text></text>
                                }
                            </td>
                            <td>
                                <div class="d-flex justify-content-between">
                                    @Html.ActionLink("🔍", "DetalleResponder", new { id = mensaje.ID }, new { @class = "btn btn-primary" })
                                    @if (mensaje.RespuestaAdministrador == null && mensaje.Solicitud_Soporte.Activo)
                                    {
                                        @Html.ActionLink("✏", "Responder", new { solicitudId = mensaje.Solicitud_Soporte.ID, id = mensaje.ID }, new { @class = "btn btn-success" })
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @*Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount*@
        <br />
        @*@Html.PagedListPager(Model, page => Url.Action("VerAdministradores",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@
        @Html.PagedListPager(Model, page => Url.Action("Ver",
         new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
         new PagedListRenderOptions
         {
             LiElementClasses = new[] { "page-item" },
             DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
             DisplayLinkToNextPage = PagedListDisplayMode.Always,
         })
    </div>
</body>
</html>