@model PagedList.IPagedList<ProyectoTFI.Entities.Quiz_Pregunta>

@using PagedList.Mvc;

@{ ViewBag.Title = "Preguntas del Quiz";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";

}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quizes del Curso</title>
    <link href="~/Scripts/pagedListStyles.css" rel="stylesheet" />
</head>
<body>
    <h4>Preguntas del Quiz</h4>
    <h5>Quiz: @ViewBag.NombreQuiz</h5>
    <h6>Curso: @ViewBag.NombreCurso</h6>
    <hr />
    <div style="display: flex; align-items: center;">
        <div style="border-right: thin solid black;">
            @Html.ActionLink("Volver", "VerQuizesCurso", "Quiz", new { area = "", pCursoID = ViewBag.CursoID, pNombreCurso = ViewBag.NombreCurso }, new { @class = "btn btn-success", @style = "color:white;font-weight:bold; margin-right: 10px;" })
            @Html.ActionLink("Agregar", "Agregar", "Quiz_Pregunta", new { area = "", pQuizID = ViewBag.QuizID, QuizNombre = ViewBag.NombreQuiz, CursoID = ViewBag.CursoID, CursoNombre = ViewBag.NombreCurso }, new { @class = "btn btn-info", @style = "color:white;font-weight:bold; margin-right: 10px;" })
        </div>
        @using (Html.BeginForm("VerPreguntasQuiz", "Quiz_Pregunta", FormMethod.Post))
        {
            <input type="hidden" name="pQuizID" value="@ViewBag.QuizID">
            <input type="hidden" name="pCursoID" value="@ViewBag.CursoID">
            <input type="hidden" name="pNombreCurso" value="@ViewBag.NombreCurso">
            <input type="hidden" name="pNombreQuiz" value="@ViewBag.NombreQuiz">
            <div style="margin-left:15px;">
                <div>
                    @Html.TextBox("pBusqueda", null, new { placeholder = "Escriba aquí para buscar", style = "width: 210px;" })
                    <input type="submit" value="Buscar" class="btn btn-info" style="color: white; font-weight: bold;" />
                </div>
            </div>
        }
    </div>
    <div class="contentTable">
        <table class="table table-hover" aria-describedby="clase" style="padding-top:20px;">
            <thead style="background-color: #ffd800;">
                <tr>
                    <th scope="col" class="col-1" style="border: 2px solid #fff; width: 1%;">ID</th>
                    <th scope="col" class="col-2 order" style="border: 2px solid #fff;">Descripción</th>
                    <th scope="col" class="col-1" style="border: 2px solid #fff; width:1%;">Acciones</th>
                </tr>
            </thead>
            <tbody id="bodyTable">
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="6" class="text-danger fw-bold">No se han encontrado registros</td>
                    </tr>
                }
                else
                {
                    foreach (var quiz in Model)
                    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => quiz.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => quiz.DescripcionPregunta)
                </td>
                <td>
                    <div class="d-flex justify-content-between">
                        @Html.ActionLink("🔍", "Ver", "Quiz_Pregunta", new { id = quiz.ID }, new { @class = "btn btn-info", @style = "color:white;font-weight:bold; margin-right: 10px;" })
                        @*@Html.ActionLink("✏", "Editar", "Quiz_Pregunta", new { id = quiz.ID }, new { @class = "btn btn-success" })*@
                        @Html.ActionLink("🗑", "Borrar", "Quiz_Pregunta", new { id = quiz.ID }, new { @class = "btn btn-danger" })
                    </div>
                </td>
            </tr>
                    }
                }
            </tbody>
        </table>
        @*Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount*@
        <br />
        @*@Html.PagedListPager(Model, page => Url.Action("VerAdministradores",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@
        @Html.PagedListPager(Model, page => Url.Action("VerQuizesCurso",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
        new PagedListRenderOptions
        {
            LiElementClasses = new[] { "page-item" },
            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Always,
        })
    </div>
</body>
</html>