@*@model IEnumerable<ProyectoTFI.Entities.Usuario>*@
@model PagedList.IPagedList<ProyectoTFI.Models.QuizViewModel>

@using PagedList.Mvc;

@{ ViewBag.Title = "Quizes del Curso";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";

}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quizes del Curso</title>
    <link href="~/Scripts/pagedListStyles.css" rel="stylesheet" />
</head>
<body>
    <h4>Quizes del Curso</h4>
    <h5>Curso: @ViewBag.NombreCurso</h5>
    <hr />
    <div style="display: flex; align-items: center;">
        <div style="border-right: thin solid black;">
            @Html.ActionLink("Volver", "VerClasesCurso", "Curso", new { area = "", id = ViewBag.CursoID, NombreCurso = ViewBag.NombreCurso }, new { @class = "btn btn-success", @style = "color:white;font-weight:bold; margin-right: 10px;" })
        </div>
    </div>
    <div class="contentTable">
        <table class="table table-hover" aria-describedby="clase" style="padding-top:20px;">
            <thead style="background-color: #ffd800;">
                <tr>
                    <th scope="col" class="col-2 order" style="border: 2px solid #fff;">ID</th>
                    <th scope="col" class="col-2 order" style="border: 2px solid #fff;">Título</th>
                    <th scope="col" class="col-2 order" style="border: 2px solid #fff;">Clase</th>
                    <th scope="col" class="col-1" style="border: 2px solid #fff;">Acciones</th>
                </tr>
            </thead>
            <tbody id="bodyTable">
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="6" class="text-danger fw-bold">No se han encontrado registros</td>
                    </tr>
                }
                else
                {
                    foreach (var quiz in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => quiz.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => quiz.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => quiz.Clase.Titulo)
                            </td>
                            <td>
                                <div class="text-center">
                                    @Html.ActionLink("Realizar Quiz", "RealizarQuiz", "Quiz_Pregunta", new { pQuizID = quiz.ID, pCursoID = ViewBag.CursoID }, new { @class = "btn btn-primary" })
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @*Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount*@
        <br />
        @*@Html.PagedListPager(Model, page => Url.Action("VerAdministradores",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@
        @Html.PagedListPager(Model, page => Url.Action("VerQuizesCurso",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
        new PagedListRenderOptions
        {
            LiElementClasses = new[] { "page-item" },
            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Always,
        })
    </div>
</body>
</html>