@model ProyectoTFI.Models.QuizViewModel

@{
    ViewBag.Title = "VerQuiz";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h2>Ver Quiz</h2>

<div class="" style="background-color: antiquewhite; border-radius:10px;padding:10px;">
    <h4>Quiz: @Model.Descripcion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PorcAprobacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PorcAprobacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clase.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clase.Titulo)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.ID }, new { @class = "btn btn-success", @style = "color:white;font-weight:bold; margin-right: 10px;" }) |
    @Html.ActionLink("Volver", "VerQuizesCurso", "Quiz", new { area = "", pCursoID = Model.Clase.CursoID, pNombreCurso = Model.Clase.Curso.Nombre }, new { @class = "btn btn-primary", @style = "color:white;font-weight:bold; margin-right: 10px;" })
</p>
