@model ProyectoTFI.Models.UsuarioViewModel

@{ ViewBag.Title = "Crear Cuenta";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear Alumno</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
     {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Crear Cuenta</h4>
            <hr />
            <div class="" style="background-color: antiquewhite; border-radius:10px;padding:10px;">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10">
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label " })
                            <div class="col-md-10">
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10">
                                @*@Html.PasswordFor(model => model.Password, new { @class = "form-control", style = "display: block; width: 100%; padding: 0.375rem 0.75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #212529; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 0.375rem; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;" })*@
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ConfirmarPassword, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10">
                                @*@Html.PasswordFor(model => model.Password, new { @class = "form-control", style = "display: block; width: 100%; padding: 0.375rem 0.75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #212529; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 0.375rem; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;" })*@
                                @Html.ValidationMessageFor(model => model.ConfirmarPassword, "", new { @class = "text-danger" })
                                @Html.PasswordFor(model => model.ConfirmarPassword, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10">
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10">
                                @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DNI, htmlAttributes: new { @class = "control-label " })
                            <div class="col-md-10">
                                @Html.ValidationMessageFor(model => model.DNI, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.DNI, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label " })
                            <div class="col-md-10">
                                @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row gy-5">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Registrarse" id="btnSubmit" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
     }
<script type="text/javascript">
    function validateInput() {

    }

    $('#btnSubmit').click(function () {
        $.ajax({

        });
    });
</script>
</body>

</html>