@model ProyectoTFI.Models.AgregarCursoViewModel

@{
    ViewBag.Title = "Agregar Curso";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h2>Agregar Curso</h2>

@*@using (Html.BeginForm("AgregarCurso", "Curso", FormMethod.Post, Model))*@
@*{*@
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="" style="background-color: antiquewhite; border-radius: 10px; padding: 10px;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Curso.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Curso.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Curso.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Curso.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Curso.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Curso.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label for="listaDocentes">Docentes:</label>
                <select id="listaDocentes" name="Docentes" class="form-control" multiple="multiple" size="5">
                    @foreach (var docente in Model.Docentes)
                    {
                        <option value="@docente.ID">@docente.Nombre</option>
                    }
                </select>
            </div>

            @*<div class="form-group">
                <button id="btnAgregar" type="submit" name="agregar" class="btn btn-primary">Agregar</button>
                <button type="submit" name="eliminar" class="btn btn-danger">Eliminar</button>
            </div>

            <div class="form-group">
                <label for="listaDocentesSeleccionados">Docentes Seleccionados:</label>
                <select id="listaDocentesSeleccionados" name="SelectedDocentes" class="form-control" multiple="multiple" size="5">
                    @foreach (var docente in Model.SelectedDocentes)
                    {
                        <option value="@docente">@docente</option>
                    }
                </select>
            </div>*@

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Agregar Curso" onclick="pruebaJquery()" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
@*}*@

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script type="text/javascript">
    function pruebaJquery() {
        //alert($("#listaDocentes").val());

        let text = "test";
        let value = 1;

        //for (var opt in $('#listaDocentes')) {
        //    alert(value);
        //    value++;
        //}

        //$("#listaDocentes > option:selected").each(function () {
        //    //$('#listaDocentesSeleccionados').append(new Option(this.text, this.value))
        //    alert(this.text + ' ' + this.value);
        //});

        //$('#listaDocentesSeleccionados').append(new Option($('#listaDocentes option:selected').text(), $('#listaDocentes option:selected').val()))

        let myArray = new Array();
        let i = 0;
        $("#listaDocentes > option:selected").each(function () {
            myArray[i] = this.value;
            i++;
        })

        let nombre = $('#Curso_Nombre').val();
        let desc = $('#Curso_Descripcion').val();

        var postData =
        {
            pNombre: nombre,
            pDesc: desc,
            docentesId: myArray
        };

        $.ajax({
            type: "POST",
            url: "@Url.Action("AgregarCurso", "Curso")",
            data: postData,
            success: function (response) {
                alert("Curso agregado correctamente");
                window.location.href = response.redirectToUrl;
            }
        });
    }
</script>