@model ProyectoTFI.Models.AgregarCursoViewModel

@{
    ViewBag.Title = "Agregar Curso";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h2>Agregar Curso</h2>

@using (Html.BeginForm("AgregarCurso", "Curso", FormMethod.Post, Model))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="" style="background-color: antiquewhite; border-radius: 10px; padding: 10px;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Curso.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Curso.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Curso.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Curso.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Curso.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Curso.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label for="listaDocentes">Docentes:</label>
                <select id="listaDocentes" name="Docentes" class="form-control" multiple="multiple" size="5">
                    @foreach (var docente in Model.Docentes)
                    {
                        <option value="@docente.ID">@docente.Nombre</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <button type="submit" name="agregar" class="btn btn-primary">Agregar</button>
                <button type="submit" name="eliminar" class="btn btn-danger">Eliminar</button>
            </div>

            <div class="form-group">
                <label for="listaDocentesSeleccionados">Docentes Seleccionados:</label>
                <select id="listaDocentesSeleccionados" name="SelectedDocentes" class="form-control" multiple="multiple" size="5">
                    @foreach (var docente in Model.SelectedDocentes)
                    {
                        <option value="@docente">@docente</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Agregar" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}
