@*@model IEnumerable<ProyectoTFI.Entities.Usuario>*@
@model PagedList.IPagedList<ProyectoTFI.Models.CursoViewModel>
@using PagedList.Mvc;

@{ ViewBag.Title = "Ver Cursos";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";

}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ver Cursos</title>
    <link href="~/Scripts/pagedListStyles.css" rel="stylesheet" />
</head>
<body>
    <h4>Ver Cursos</h4>
    <hr />
    @Html.ActionLink("Agregar", "AgregarCurso", "Curso", new { area = "" }, new { @class = "btn", @style = "background-color: blue;color:white;border-color:blue;", @onmouseover = "this.style.backgroundColor='blue';", @onmouseout = "this.style.backgroundColor='white'; this.style.color: blue;" })
    <div style="display: flex; align-items: center;">
        @using (Html.BeginForm())
        {
            <div style="margin-left:15px;">
                <div>
                    @Html.TextBox("pBusqueda", null, new { placeholder = "Escriba aquí para buscar", style = "width: 210px;" })
                    <input type="submit" value="Buscar" class="btn btn-info" style="color: white; font-weight: bold;" />
                </div>
            </div>
        }
    </div>
    <div class="contentTable">
        <table class="table table-hover" aria-describedby="curso" style="padding-top:20px;">
            <thead style="background-color: #ffd800;">
                <tr>
                    <th scope="col" class="col-2 order" style="border: 2px solid #fff;">ID</th>
                    <th scope="col" class="col-2 order" style="border: 2px solid #fff;">Nombre</th>
                    <th scope="col" class="col-1" style="border: 2px solid #fff;">Acciones</th>
                </tr>
            </thead>
            <tbody id="bodyTable">
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="6" class="text-danger fw-bold">No se han encontrado registros</td>
                    </tr>
                }
                else
                {
                    foreach (var curso in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => curso.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => curso.Nombre)
                            </td>
                            <td>
                                <div class="d-flex justify-content-between">
                                    @Html.ActionLink("🔍", "VerClasesCurso", new { id = curso.ID }, new { @class = "btn btn-primary" })
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @*Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount*@
        <br />
        @*@Html.PagedListPager(Model, page => Url.Action("VerAdministradores",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@
        @Html.PagedListPager(Model, page => Url.Action("VerCursos",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
        new PagedListRenderOptions
        {
            LiElementClasses = new[] { "page-item" },
            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Always,
        })
    </div>
</body>
</html>